body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff0f5;
  margin: 0;
  padding: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
}

#malla-container {
  overflow-x: auto;
  white-space: nowrap;
}

table.malla-tabla {
  width: max-content;
  border-collapse: separate;
  border-spacing: 10px;
  table-layout: auto;
  margin: 0 auto;
}

table.malla-tabla th {
  background-color: #f06292;
  color: white;
  padding: 0.7rem;
  font-size: 1rem;
  text-transform: uppercase


